body{
    background-image: url('https://exsemp.uz/img/haker/uz/23023/09/23/sardor.png');
    color: aqua;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    background-position: 10px;
    -moz-background-inline-policy: continuous;
}